.login {
  height: 100vh;
  background-color: #2d033b;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    background-color: #fdebed;
    display: flex;
    width: 50%;
    border-radius: 10px;
    min-height: 500px;
    overflow: hidden;
    .left {
      flex: 1;
      background: linear-gradient(rgba(45, 3, 59, 0.5), rgba(45, 3, 59, 0.5)),
        url("https://images.pexels.com/photos/162574/art-pottery-c-craft-162574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      color: white;

      h1 {
        font-size: 80px;
        line-height: 80px;
      }

      // p{}

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        background-color: #fdebed;
        color: #2d033b;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #2d033b;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
